<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <h1>Transformers:</h1>
    <p>Transformers is a movie about robots that are trying to help save the planet</p>
    <a href="./index.ejs"></a>

 
</html>